#logo{
    height: 55px;
    width: 110px;
    margin-top: 10px;
    margin-left: 10px;
    
}
/* header{
    display: flex;
    margin-top: 13px;
    width: auto;
    height: auto;
    justify-content: space-around;
    font-size: 15px;
    position: relative;
}
.body{
    height: 500px;
    width: 100px;
} */
.week{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 500px;
    margin-top: 70px;
}
.menu{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 15px;
    position: relative;
    word-spacing: 40px;
}
.unpack{
    height: 100%;
    width: 100%;
    margin-top: 20px;
}
.mc{
    height: 100%;
    width: 100%;
}
.compute{
    height: 100%;
    width: 100%;
}
.neo{
    height: 100%;
    width: 100%;
}
.wm{
    height: 100%;
    width: 100%;
}
.selfie{
    height: 100%;
    width: 95%;
}
.look{
    margin-top:50px ;
    font-size: 40px;
}
.box{
    height: 50px;
    width: 460px;
    display: block;
    margin: auto;
    border-radius: 15px;
    font-size: x-large;
}
.g{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    height: 20px;
width: 100px;
border-radius: 15px;
font-size: smaller;
cursor: pointer;
}
.ga{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    height: 20px;
width: 120px;
border-radius: 15px;
font-size: smaller;
cursor: pointer;
}
.ql{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    height: 20px;
width: 100px;
border-radius: 15px;
font-size: smaller;
cursor: pointer;
}
.ut{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    height: 20px;
width: 100px;
border-radius: 15px;
font-size: smaller;
cursor: pointer;
}
.eb{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    height: 20px;
width: 100px;
border-radius: 15px;
font-size: smaller;
cursor: pointer;
}
.cm{

    border: 1px solid grey;
    display: flex;
    justify-content: center;
    height: 20px;
width: 500px;
border-radius: 15px;
font-size: smaller;
cursor: pointer;
}
.smart{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    height: 20px;
width: 500px;
border-radius: 15px;
font-size: smaller;
cursor: pointer;
}
.search{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 10px;
    
}
.se2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 550px;
    margin-right: 590px;
    margin-top: 10px;
}
.para{
    font-size: small;
    margin-left: 80px;
    margin-top: 80px;
}
.ps{
margin-left: 30px;
font-size: small;
}
.hr{
    border-right-width: 100px green;
    height: 1px;

}
.last{
    display: flex;
    margin-left: 200px;
    margin-top: -474px;
}
.foot{
    font-size: x-small;
    margin-left: 30px;
}
.shops1{
    margin-left: 10px solid black;
    height: 500px;
    margin-left: 280px;
    margin-top: -455px;
    font-size: small;
}
.sup{
    margin-left: 600px;
    margin-top: -515px;
    font-size: small;
}
.acccom{
    margin-left: 850px;
    margin-top: -305px;
    font-size: small;
}
.sus{
    margin-left: 1100px;
    margin-top: -277px;
    font-size: small;
}
/* .bor1{
    border-left: 1px solid grey;
     height: 510px;
      width: 1px;
      margin-left: 200px;
      margin-top: -500px;
}
.bor2{
    border-left: 1px solid grey;
    height: 510px;
     width: 1px;
     margin-left: 550px;
     margin-top: -480px;
}
.bor3{
    border-left: 1px solid grey;
    height: 510px;
     width: 1px;
     margin-left: 800px;
     margin-top: -480px;
}
.bor4{
    border-left: 1px solid grey;
    height: 510px;
     width: 1px;
     margin-left: 1040px;
     margin-top: -480px;
} */
.line1{
    transform:rotate(90deg) ;
margin-left: -150px;
margin-bottom: 100px;
    width: 50%;
    height: 50%;
}